html {
    font-family: 'Manrope', sans-serif;
    margin: 0px;
    padding: 0px;
    max-width: 1500px;
}
body {
    margin: 0px;
    padding: 0px;
}
header {
    padding: 30px 0px;
}
nav {
    margin: 10px 140px;
    display: flex;
    justify-content: space-between;
}
.logo-container {
    font-size: 22px;
    margin-right: 25px;
}
nav a {
    text-decoration: none;
    color: rgb(81, 81, 81);
    font-size: 14px;
}
nav div div a {
    height: fit-content;
    padding: 7px;
    margin-top: 2px;
}
nav div {
    display: flex;
    gap: 30px;
}
nav div div a:hover {
    background-color: rgb(237, 238, 246);
    border-radius: 10px;
}
.signin-container {
    height: fit-content;
    padding: 7px;
    margin-top: 2px;
}
.signin-container:hover {
    background-color: rgb(237, 238, 246);
    border-radius: 10px;
}
nav div button {
    background-color: #2563EB;
    color: white;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}
nav div button:hover {
    cursor: pointer;
    opacity: 0.85;
}
main {
    text-align: center;
    margin-top: 130px;
}
main h1 {
    font-size: 70px;
    font-weight: bold;
    padding: 0px 300px;
    line-height: 80px;
    margin-bottom: 25px;
}
main p {
    padding: 0px 400px;
    line-height: 30px;
    font-size: 18px;
}
main a {
    text-decoration: none;
}
main div {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    font-size: 14px;
}
.main-link-1 {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}
.main-link-1:hover {
    opacity: 0.75;
}
.main-link-2 {
    color: black;
    padding: 10px 20px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 20px;
}
.main-link-2:hover {
    border: 1px solid rgb(204, 204, 204);
}
main div i {
    color: #2563EB;
    margin-right: 12px;
    font-size: 12px;
}
section {
    margin: 170px 150px 20px;
}
section p {
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}
.companies-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    gap: 50px;
    margin: 0px;
}
section div div {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

@media only screen and (max-width:600px) {
    nav {
        margin: 10px 0px;
    }
    .logo-container {
        margin-right: 10px;
    }
    nav div {
        gap: 5px;
    }
    nav div div a {
        padding: 3px;
    }
    nav div button {
        padding: 7px 15px;
    }
    .signin-container {
        padding: 3px;
    }
    main {
        margin-top: 50px;
        padding: 0px 20px;
    }
    main h1 {
        font-size: 48px;
        padding: 0px;
        line-height: normal;
    }
    main p {
        padding: 0px;
    }
    main div {
        gap: 15px;
    }
    section {
        margin: 150px 0px 20px;
    }
    .companies-container {
        gap: 25px;
    }
    section div div {
        display: grid;
        gap: 40px;
    }
}


@media only screen and (min-width:600px) {
    nav {
        margin: 10px 40px;
    }
    nav div {
        gap: 20px;
    }
    main {
        padding: 0px 80px;
        margin-top: 80px;
    }
    main h1 {
        font-size: 72px;
        padding: 0px;
    }
    main p {
        padding: 0px 0px;
        line-height: 30px;
    }
    main div {
        margin-top: 40px;
    }
    .companies-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        gap: 10px;
    }
    section {
        margin: 150px 0px 20px;
    }
}


@media only screen and (min-width:992px) {

}