
html {
    font-family: 'Manrope', sans-serif;
    margin: 0px auto;
    max-width: 1300px;
}
header {
    padding: 30px 0px;
}
nav {
    margin: 10px 140px;
    display: flex;
    justify-content: space-between;
}
nav div a svg {
    width: 110px;
}
nav a {
    text-decoration: none;
    color: rgb(81, 81, 81);
    font-size: 14px;
}
nav div div a {
    height: fit-content;
    padding: 7px;
    margin-top: 2px;
}
nav div {
    display: flex;
    gap: 30px;
}
nav div div a:hover {
    background-color: rgb(237, 238, 246);
    border-radius: 10px;
}
.signin-container {
    height: fit-content;
    padding: 7px;
    margin-top: 2px;
}
.signin-container:hover {
    background-color: rgb(237, 238, 246);
    border-radius: 10px;
}
nav div button {
    background-color: #2563EB;
    color: white;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}
nav div button:hover {
    cursor: pointer;
    opacity: 0.85;
}
main {
    text-align: center;
    margin-top: 130px;
}
main h1 {
    font-size: 70px;
    font-weight: bold;
    padding: 0px 300px;
    line-height: 80px;
    margin-bottom: 25px;
}
main p {
    padding: 0px 400px;
    line-height: 30px;
    font-size: 18px;
}
main a {
    text-decoration: none;
}
main div {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    font-size: 14px;
}
.main-link-1 {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
}
.main-link-1:hover {
    opacity: 0.75;
}
.main-link-2 {
    color: black;
    padding: 10px 20px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 25px;
}
.main-link-2:hover {
    border: 1px solid rgb(204, 204, 204);
}
main div i {
    color: #2563EB;
    margin-right: 12px;
    font-size: 12px;
}
section {
    margin: 170px 150px 20px;
}
section p {
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    letter-spacing: 0.4px;

}
.companies-container {
    display: flex;
    gap: 40px;
    margin: 0px;
}
section div div {
    display: flex;
    gap: 40px;
    margin-top: 32px;
}
.image-container {
    margin: 0px;
    background-image: url(https://salient.tailwindui.com/_next/static/media/background-faqs.55d2e36a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-2 {
    margin: 200px 30px 100px;
}
.inner-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0px;
}
section div h2 {
    font-size: 40px;
    margin: 0px;
}
section div p {
    font-size: 18px;
    font-weight: lighter;
    color: #334155;
    margin: 16px 550px 0px 0px ;
}
section div ul h3 {
    margin: 0px;
    font-size: 18px;
    line-height: 28px;
}
section div ul p {
    font-size: 14px;
    margin: 16px 0px 0px;
    line-height: 24px;
}
section div ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.question-container {
    text-align: left;
    gap: 28.5px;
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    letter-spacing: 0.5px;
}
footer {
    margin: 180px 36px 45px;
}
footer div div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin-top: 38px;
}
.footer-1 div a {
    text-decoration: none;
    font-size: 14px;
    padding: 4px 8px;
    color: #334155;
}
.footer-1 div a:hover {
    background-color: rgb(237, 238, 246);
    border-radius: 10px;
}
footer hr {
    margin: 55px 0px 10px;
    border: 0.5px solid rgb(231, 231, 231);
}
footer div div p {
    margin: 0px;
    font-size: 14px;
}
.footer-2 {
    display: flex;
    justify-content: space-between;
}
.footer-2 div i {
    font-size: 20px;
    color: rgb(150, 150, 150);
}
.footer-2 div i:hover {
    color: black;
}



@media only screen and (max-width:600px) {
    html {
        width: fit-content;
    }
    nav {
        margin: 10px 0px;
    }
    nav div {
        gap: 5px;
    }
    nav div div a {
        padding: 3px;
        margin-top: 8px;
    }
    nav div button {
        padding: 7px 15px;
    }
    .signin-container {
        padding: 3px;
        margin-top: 8px;
    }
    main {
        margin-top: 80px;
        padding: 0px;
    }
    main h1 {
        font-size: 48px;
        padding: 0px;
        line-height: 56px;
    }
    main p {
        padding: 0px 20px;
    }
    main div {
        gap: 25px;
    }
    section {
        margin: 150px 0px 20px;
    }
    section p {
        padding: 0px;
    }
    .companies-container {
        gap: 50px;
    }
    section div div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}


@media only screen and (min-width:600px) {
    header {
        padding: 32px 0px;
    }
    nav {
        margin: 0px 16px;
    }
    nav div a svg {
        margin-right: 15px;
    }
    main {
        padding: 0px 80px;
        margin-top: 88px;
    }
    main h1 {
        font-size: 72px;
        padding: 0px;
    }
    main p {
        padding: 0px;
        line-height: 30px;
    }
    main div {
        margin-top: 40px;
    }
    section {
        margin: 150px 0px 20px;
    }
    .companies-container {
        flex-direction: column;
        gap: 0px;
    }
}


@media only screen and (min-width:992px) {
    nav {
        margin: 0px 24px;
    }
    nav div div a {
        margin-top: 3px;
    }
    nav div a svg {
        margin-right: 18px;
    }
    nav div button {
        padding: 12px 18px;
        font-size: 14px;
    }
    br {
        display: none;
    }
    main {
        margin-top: 130px;
        padding: 0px 70px;
    }
    main p {
        padding: 0px 130px;
        font-size: 18px;
    }
    main div {
        gap: 20px;
    }
    .main-link-1 {
        padding: 10px 18px;
    }
    section {
        margin: 172px 0px 20px;
    }
    section P {
        padding: 0px;
        font-size: 16px;
    }
    section div div {
        gap: 50px;
    }
}


@media only screen and (min-width:1200px) {
    nav {
        margin: 0px 34px;
    }
    nav div div a {
        margin-top: 3px;
    }
    nav div a svg {
        margin-right: 18px;
    }
    nav div button {
        padding: 12px 18px;
        font-size: 14px;
    }
    br {
        display: none;
    }
    main {
        margin-top: 130px;
        padding: 0px;
    }
    main h1 {
        padding: 0px 200px;
    }
    main p {
        padding: 0px 320px;
        font-size: 18px;
        line-height: 32px;
    }
    section {
        margin: 172px 0px 20px;
    }
    section P {
        padding: 0px;
        font-size: 16px;
    }
    .companies-container {
        flex-direction: row;
        gap: 48px;
    }
}